<phpunit bootstrap="../tests/bootstrap.php"
    stderr="true"
    processIsolation="true">
    <testsuite name="php Test Suite">
        <directory>../tests</directory>
    </testsuite>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../src</directory>
        <exclude>
          <directory>../src/locale</directory>
          <directory>../src/validate</directory>
        </exclude>
      </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../build/coverage" title="php"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="95" highLowerBound="100"/>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
        <log type="coverage-crap4j" target="../build/logs/crap4j.xml"/>
        <log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

</phpunit>
